# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Google Drive\Universitet - Personlig\8. Semester\Algorithms, Data Structures and Software Engineering for Media Technology\ADSSE Mini project\Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
